@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Italiana", serif;
}

p,
span {
  font-family: "Inter", sans-serif;
}

:root {
  --bs-primary: #002c42;
  --bs-primary-rgb: 0, 44, 66;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #002c42;
  --bs-btn-border-color: #002c42;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #001a2a;
  --bs-btn-hover-border-color: #001a2a;
  --bs-btn-focus-shadow-rgb: 0, 44, 66;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #001a2a;
  --bs-btn-active-border-color: #001a2a;
}

.btn-white {
  --bs-btn-color: #002c42;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #002c42;
  --bs-btn-hover-bg: #f8f9fa;
  --bs-btn-hover-border-color: #f8f9fa;
  --bs-btn-focus-shadow-rgb: 255, 255, 255;
  --bs-btn-active-color: #002c42;
  --bs-btn-active-bg: #f8f9fa;
  --bs-btn-active-border-color: #f8f9fa;
}
